* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

.menu{
    background-color: rgba(48, 48, 48, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 100%;
    height: 300px;
    gap: 0px;
    opacity: 0px;
    
}

.txt1{

    margin-right: 600px;
    font-size: 40px;
    
}

.txt2{
    margin-top: 10px;
    margin-right: 1030px;
    
}

.txt3{
    margin-bottom: 20px;

}

.txt4{
    color: aliceblue;
    margin-top: 20px;
}

.informações{
    background: rgba(249, 249, 249, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    gap: 100px;
    opacity: 0px;

}

.p1{

font-size: 18px;
font-weight: 50px;


}

#p2{

    font-size: 20px;
}

.conteudo{
width: 50%;
margin-top: 220px;
margin-left: 76px;

}

.img{
   margin-left: 400px;
   margin-top: -170px;
   margin-bottom: 23px;

}

.footer{
    
    background-color: rgba(48, 48, 48, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    top: 1478px;
    gap: 10px;
    opacity: 0px;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

button {
    background: rgba(192, 114, 18, 1);
    color: aliceblue;
    border-radius: 10px;
    height: 48px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 70px;
    font-size: 20px;
}

input {
    border: 1px solid #bbbb;
    border-radius: 4px;
    height: 48px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}

span{
    font-size: 40px;
}

